{% extends 'user/base.html' %}
{% block title %}
    注册
{% endblock %}
{% block more_head %}
    {% load static %}
    <script src="{% static 'user/js/register.js' %}"></script>
{% endblock %}
{% block main %}
    <div class="panel-heading">
        <div class="panel-title">用户注册/REGISTER</div>
    </div>
    <div class="panel-body">
        <form action="{% url "user:register" %} " method="post">
            {% csrf_token %}
            <div class="form-group">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>  用户名
                <input class="form-control" type="text" id="username" name="username" placeholder="请输入用户名"
                       required="required">
            </div>
            <div class="form-group">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>  密码
                <input class="form-control" type="password" id="password" name="password"
                       placeholder="请输入密码" required="required">
            </div>
            <div class="form-group">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>  确认密码
                <input class="form-control" type="password" id="repeat_password" name="repeat_password"
                       placeholder="请再次输入密码" required="required">
            </div>
            <div class="form-group">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">选择角色 <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a class="role-selector">学生</a></li>
                  <li><a class="role-selector">教师</a></li>
                </ul>
              </div>
            </div>
            <input type="text" class="form-control" readonly="readonly" value="学生" name="role_name">
            </div>
            <div class="form-group">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">选择密保问题 <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {% for question in questions %}
                    <li><a class="question-selector">{{ question.text }}</a></li>
                    {% endfor %}
                </ul>
              </div>
            </div>
            <input type="text" class="form-control" readonly="readonly" value="" name="question_text">
            </div>
            <div class="form-group">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>  密保问题答案
                <input class="form-control" type="text" id="answer" name="answer"
                       placeholder="请输入密保问题答案" required="required">
            </div>
            <div class="form-group">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>  教师码
                <input class="form-control" type="text" id="teacher_code" name="teacher_code"
                       placeholder="">
            </div>
            <input type="submit" value="注册" class="btn btn-primary">
            <a href="{% url "user:login" %}" class="btn btn-primary" style="margin-left: 20px">登录</a>
        </form>
        {% if error_message %}
            <p class="error_message">{{ error_message }}</p>
        {% endif %}
    </div>
{% endblock %}